@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment Environment

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Plan your raids and team events!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raid Plan</title>
  </head>
  <body>
    <div id="app"></div>
    @if (Environment.IsDevelopment()) {
      <script src="/app.js"></script>
    }
    else {
      <script asp-src-include="/manifest.*.js"></script>
      <script asp-src-include="/vendor.*.js"></script>
      <script asp-src-include="/app.*.js"></script>
      <link rel="stylesheet" asp-href-include="/vendor.*.css"/>
      <link rel="stylesheet" asp-href-include="/app.*.css"/>
    }
  </body>
</html>
